<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Banners</title>
</head>
<body>
<h2>Banners</h2>
<<!-- banners.html -->
<h4>Add Banner</h4>
<form th:action="@{/banners/add}" method="post" enctype="multipart/form-data">
  <label for="file">Image:</label>
  <input type="file" id="file" name="file" required>
  <br>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>
  <br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description">
  <br>
  <button type="submit">Add</button>
</form>
<br/>
<!-- banners.html -->

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <tr th:each="banner : ${banners}">
    <td th:text="${banner.title}">Banner title</td>
    <td><img th:src="'data:image/jpeg;base64,' + ${banner.image}" alt="Banner image"></td>
    <td th:text="${banner.description}">Banner description</td>
    <td>
      <!-- Edit button -->
      <a th:href="@{/banners/{id}/edit(id=${banner.id})}">
        <button>Edit</button>
      </a>
      <!-- Delete button -->
      <form th:action="@{/banners/{id}(id=${banner.id})}" th:method="delete">
        <button>Delete</button>
      </form>
    </td>
  </tr>
</table>
</body>
</html>
