<!DOCTYPE html>
<html>
<head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/certificates/add}" method="get">
  <input type="submit" value="Add" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
</form>
<table class="w-full text-md bg-white shadow-md rounded mb-4">
  <tr class="border-t border-b font-bold text-black py-2 px-4 bg-gray-200">
    <th>ID</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Course Title</th>
    <th>Completion Date</th>
    <th></th>
  </tr>
  <tr th:each="certificate : ${certificates}" class="border-b py-2 px-4">
    <td th:text="${certificate.id}" class="text-blue-600"></td>
    <td th:text="${certificate.lastName}" class="text-blue-600"></td>
    <td th:text="${certificate.firstName}" class="text-blue-600"></td>
    <td th:text="${certificate.courseTitle}" class="text-blue-600"></td>
    <td th:text="${certificate.completionDate}" class="text-blue-600"></td>
    <td>
      <a th:href="@{/certificates/edit/{id}(id=${certificate.id})}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Edit
      </a>
      <form th:action="@{/certificates/{id}(id=${certificate.id})}" th:method="delete" style="display: inline-block">
        <input type="submit" value="Delete" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" />
      </form>
    </td>
  </tr>
</table>
</body>
</html>
