<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/" style="font-size: 20px; text-decoration:underline">HOME</a>&nbsp; &nbsp; &nbsp;
<a href="/banners" style="font-size: 20px; text-decoration:underline">Banners</a>

<br/>
<br/>
<br/>
<h4>Upload new banner<h4/>

    <br/>
    <br/>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/jpeg, image/png, image/jpg">
        <button type="submit">Upload</button>
    </form>
</body>
</html>