<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <script type="text/javascript" src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript"
          src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</head>
<body>
<div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('https://images.unsplash.com/photo-1499123785106-343e69e68db1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80')">
  <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
    <div class="text-white">
      <div class="mb-8 flex flex-col items-center">
        <svg class="h-10 mr-3" width="51" height="70" viewBox="0 0 51 70" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M1 53H27.9022C40.6587 53 51 42.7025 51 30H24.0978C11.3412 30 1 40.2975 1 53Z" fill="#76A9FA"></path><path d="M-0.876544 32.1644L-0.876544 66.411C11.9849 66.411 22.4111 55.9847 22.4111 43.1233L22.4111 8.87674C10.1196 8.98051 0.518714 19.5571 -0.876544 32.1644Z" fill="#A4CAFE"></path><path d="M50 5H23.0978C10.3413 5 0 15.2975 0 28H26.9022C39.6588 28 50 17.7025 50 5Z" fill="#1C64F2"></path></g><defs><clipPath id="clip0"><rect width="51" height="70" fill="white"></rect></clipPath></defs></svg>
        <h1 class="mb-2 text-2xl">Cash Loan App</h1>
        <span class="text-gray-300">Enter Login Details</span>
      </div>
      <form class="space-y-4 md:space-y-6" th:action="@{/login}"
            method="post">
        <fieldset>
          <div class="mb-6">
            <label for="username"
                   class="block mb-2 text-sm font-medium text-[#878787] dark:text-[#878787]">Username</label>
            <input type="text" name="username" id="username"
                   class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#46BB91] focus:outline-none"
                   placeholder="Username" required>
          </div>
          <div class="mb-6">
            <label for="password"
                   class="block mb-2 text-sm font-medium text-[#878787] dark:text-[#878787]">Password</label>
            <input type="password" name="password" id="password"
                   class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-[#46BB91] focus:outline-none"
                   placeholder="Password" required>
          </div>
          <div class="flex items-center justify-between mt-2">
            <a th:href="@{/forgot_password}"
               class="hover:underline block mb-2 text-sm font-medium text-[#5c87f8] ">Forgot
              password?</a>
          </div>
          <button
                  class="w-full text-white bg-[#46BB91] hover:bg-[#368e6e] focus:ring-4 focus:outline-none focus:ring-[#46BB91] font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-5 md:my-5"
                  type="submit" id="submitLogin">Login</button>
        </fieldset>
      </form>

    </div>
  </div>
</div>

</body>
</html>